[Unit]
Description=Nimbus daemon
After=network-online.target

[Service]
User={{ node_user_name }}
ExecStart={{ nimbus_path }}/{{ nimbus_folder_name }}/build/nimbus_beacon_node trustedNodeSync \
  --network:{{ network }} \
  --data-dir=build/data/shared_{{ network }}_0 \
  --trusted-node-url={{ nethermind_url }} \
  --data-dir=/mnt/block-volume/ethereum/data
Restart=on-failure
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
