[Unit]
Description=Nimbus daemon
After=network-online.target

[Service]
User=osmosis
ExecStart={{ nimbus_path }}/build/nimbus_beacon_node trustedNodeSync \
  --network:holesky \
  --data-dir=build/data/shared_holesky_0 \
  --trusted-node-url={{ nethermind_url }}
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
