[Unit]
Description=Nimbus daemon
After=network-online.target

[Service]
User={{ node_user_name }}
ExecStart={{ nimbus_path }}/{{ extracted_folder_name }}/build/nimbus_beacon_node trustedNodeSync \
  --network:holesky \
  --data-dir=build/data/shared_holesky_0 \
  --trusted-node-url={{ nethermind_url }} \
  --data-dir=/mnt/block-volume/ethereum/data
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
