[Unit]
Description=Nethermind daemon
After=network-online.target

[Service]
User={{ node_user_name }}
ExecStart={{ nethermind_path }}/nethermind \
  --datadir=/mnt/block-volume/{{ node_user_name }}/data \
  --config={{ network }} \
  --JsonRpc.JwtSecretFile=/mnt/block-volume/{{ node_user_name }}/config/jwt.hex \
  --JsonRpc.Enabled=true
Restart=on-failure
RestartSec=3
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
