[Unit]
Description=Nethermind daemon
After=network-online.target

[Service]
User=osmosis
ExecStart={{ nethermind_path }}/run-mainnet-beacon-node.sh \
  --web3-url={{ nimbus_url }} \
  --jwt-secret=/mnt/block-volume/ethereum/config/jwt.hex \
  --JsonRpc.Enabled=true
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
